<div class="card card--comment {{if isFull "is-fullwidth" ""}} {{extraClasses}} {{deleted}}">
  <header class="card-header">
    <p class="card-header-title">
      {{title}} - {{if updatedAt updatedAt "Very recently"}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{yield}}
    </div>
  </div>
  <footer class="card-footer">
  </footer>
</div>
