<div class="card {{if isFull "is-fullwidth" ""}} {{extraClasses}} {{deleted}}">
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{#if createdAt}}
      <ul>
        <li>
          Created: {{createdAt}}
        </li>
        <li>
          Last Updated: {{updatedAt}}
        </li>
      </ul>
      {{/if}}
      {{#if typeObject.displayName}}
      <ul>
        <li>Display Name: {{typeObject.displayName}}</li>
        {{#with typeObject.role as |role|}}
        <li>User Role: {{role.roleType}}</li>
        {{/with}}
      </ul>
      {{/if}}
    </div>
  </div>
  <footer class="card-footer">
    {{#unless isEmpty}}
      {{yield}}
    {{else}}
      {{#link-to actionLink class="card-footer-item button is-primary"}}
        New
      {{/link-to}}
    {{/unless}}
  </footer>
</div>
