<div class="card is-fullwidth {{deleted}}">
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
    <a class="card-header-icon">
      <i class="fa fa-angle-down"></i>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      {{content}}
    </div>
  </div>
  <footer class="card-footer">
    {{#unless isEmpty}}
      {{yield}}
    {{else}}
      {{#link-to actionLink class="card-footer-item button is-primary"}}
        New
      {{/link-to}}
    {{/unless}}
  </footer>
</div>
