{{yield}}
<div class="card login__card is-fullwidth {{isLoggingIn}}">
  <header class="card-header">
    <h1 class="card-header-title title is-3">
      Login
    </h1>
  </header>
  <div class="card-content">
    <div class="content">
      {{#if errorMessage}}
        {{#notification-danger}}
          That combination didn't work. Please try again.
        {{/notification-danger}}
      {{/if}}
      <form {{action 'authenticate' on='submit'}}>
        <label class="label">E-mail/Username:</label>
        <p class="control has-icon">
          {{input class="input is-large" value=displayName type="text" placeholder="Enter email" required=true}}
          <i class="fa fa-user"></i>
        </p>
        <label class="label">Password:</label>
        <p class="control has-icon">
          {{input class="input is-large" value=password type="password" placeholder="Enter password" required=true}}
          <i class="fa fa-lock"></i>
        </p>
        <p class="control">
          <button class="button is-primary is-medium {{if isLoggingIn "is-disabled" ""}}">Login</button>
          {{#link-to 'index' class="button is-medium is-link"}}
            Cancel
          {{/link-to}}
        </p>
      </form>
    </div>
  </div>
</div>