{{yield}}
<nav class="nav nav--top">
  <div class="nav-left">
    {{#link-to 'index' class="nav-item"}}
      <img src='/logo5.svg' alt='Habitus logo'>
    {{/link-to}}
  </div>
<!--
  <div class="nav-center">
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>
-->
  <span class="button is-info nav-toggle {{if isActive "is-active" ""}}" {{action "toggleMenu"}}>
    Menu
  </span>

  <div class="nav-menu nav-right {{if isActive "is-active" ""}}" {{action "toggleMenu"}}>
    {{#with model as |pages|}}
      {{#each pages as |page|}}
      {{#if page.alias}}
        {{#link-to 'page' page.alias class="nav-item" activeClass='is-active'}}
          {{if (eq page.alias "index") "Home" page.title}}
        {{/link-to}}
      {{/if}}
      {{/each}}
    {{/with}}
    {{#link-to 'blog.index' class="nav-item"}}
      Blog
    {{/link-to}}
    {{#if session.isAuthenticated}}
      {{#link-to 'admin' class="nav-item" activeClass='is-active'}}
        Admin
      {{/link-to}}
      <span class="nav-item">Welcome, {{session.currentUser.displayName}}</span>
      <a class="nav-item" {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{#link-to 'login' class="nav-item"}}Login{{/link-to}}
    {{/if}}

    <span class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        <span>Tweet</span>
      </a>
      <a class="button is-primary" href="#">
        <span class="icon">
          <i class="fa fa-download"></i>
        </span>
        <span>Download</span>
      </a>
    </span>
  </div>
</nav>